*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html,body,#root{
	height:100%;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#000000;
}
img{
	border:none;
	out-line:none;
}
$theme-color:#C62F2F;