
.leftbar-item{
	padding:0 15px;
	height: 40px;
	line-height:40px;
	font-size:14px; 
	font-family: Microsoft Yahei;

}
.leftbar-item a{
	display: block;
	font-size:16px; 
	
}
.leftbar-item a .icon{
	color:#C62F2F;
}
.leftbar-item a .title{
	padding:0 10px;
	color:#000000;
}