.music-item{
	$music-item-width:100px;
	position:relative;
	display: inline-block;
	width:$music-item-width;
	padding:5px;
	.play-times{
		position:absolute;
		text-align:right;
		width:100%;
		padding:4px;
		font-size:10px;
		color:#ffffff;
		background-color:rgba(0,0,0,0.15)
	}
	img{
		width:$music-item-width;
		height:$music-item-width;		
	}
	.music-name{
		font-size:10px;
		height:24px;
		line-height:12px;
		overflow:hidden;
		margin:0;
	}
}